In [1]:
import pandas as pd
import nltk
df = pd.read_csv("spam.csv",sep = ",", names = ["label","text"])
df.head()

                                               label  text
0  ham,"Go until jurong point, crazy.. Available ...   NaN
1               ham,Ok lar... Joking wif u oni...,,,   NaN
2  spam,Free entry in 2 a wkly comp to win FA Cup...   NaN
3  ham,U dun say so early hor... U c already then...   NaN
4  ham,"Nah I don't think he goes to usf, he live...   NaN